<app-navbar [brandName]="brandName"></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
        <app-file-reader (onData)="onData($event)"></app-file-reader>
        <h4 *ngIf="!(data && data.length > 0)" class="text-center">Please upload valid MT940 format csv/xml report</h4> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="data">
        <h2>Input Data</h2>
        <app-data-table [tableData]="data"></app-data-table>
        <button class="btn btn-primary pull-right" (click)="validate()">Validate</button>
      </div>
    </div>
  </div>
  <div *ngIf="validatedResults">
    <div class="row" *ngIf="validatedResults.duplicateReference.length > 0">
      <div class="col-md-12">
        <h2>Duplicate Reference Numbers </h2>
        <app-data-table [tableData]="validatedResults.duplicateReference"></app-data-table>
      </div>
    </div>
    <div class="row" *ngIf="validatedResults.invalidEndBalance.length > 0">
      <div class="col-md-12">
        <h2>Invalid End Balance </h2>
        <app-data-table [tableData]="validatedResults.invalidEndBalance"></app-data-table>
      </div>
    </div>
  </div>
</div>
